<div class="container">
    <div class="flex-container">
        <div class="flex-item">
            <h3>Solicitudes de Contacto</h3>
        </div>
        <div class="flex-item">
            <a class="btn btn-success" href="/admin/contacto/agregarContacto">Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Mensaje</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each contacto}}
                    <tr class="estado-{{estado}}">
                        <th scope="row">1</th>
                        <td>{{nombre}}</td>
                        <td>{{email}}</td>
                        <td>{{telefono}}</td>
                        <td>{{mensaje}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary cerrado-btn" href="/admin/contacto/cambiarEstado/{{id}}">Cerrado</a> <!-- este boton pintara de verde las celdas indicando qee se dio la devolucion al pedido-->
                            <a class="btn btn-secondary" href="/admin/contacto/eliminarContacto/{{id}}">Borrar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/tablaContacto.css">