<div class="container1 mt-5">
    <h2>Modifica los campos!</h2>
    <div class="row">
        <form action="/admin/panel/modificarProducto" method="post" enctype="multipart/form-data">
          <input type="hidden" value="{{producto.id}}" name="id">
          <div class="form-group">
                <label for="">Imagen</label>
                <input type="text" class="input-field" id="inputUser" placeholder="Imagen" name="imagen" value="{{producto.imagen}}"></input>
            </div>
            <div class="form-group">
                <label for="">Titulo</label>
                <input type="text" class="input-field" id="inputTitulo" placeholder="Titulo" name="titulo" value="{{producto.titulo}}"></input>
            </div>
          <div class="form-group">
                <label for="">Descripcion</label>
                <textarea type="text" class="input-field" id="inputSubtitulo" placeholder="Descripcion" name="descripcion">{{producto.descripcion}}</textarea>
            </div>
          <div class="form-group">
               <label for="">Precio</label>
               <input type="number" class="input-field" id="inputPrecio" placeholder="Precio" name="precio" value="{{producto.precio}}"></input>
          </div>
          <div class="form-group">
               <label for="">Stock</label>
               <input type="number" class="input-field" id="inputStock" placeholder="Stock" name="stock" value="{{producto.stock}}"></input>
          </div>
          <div class="form-group">
            <p>
              <label>Imagen: <input type="file" name="imagen1" id="imagen1" /></label>
            </p>
            <p>
              <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
              <input type="hidden" name="img_original" value="{{producto.img_id}}">
            </p>
          </div>
          {{#if error}}
            <p class="error-message ">{{message}}</p>
          {{/if}}
          <button type="submit" class="submit-button">Modificar</button>
        </form>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/admin.css">